.banner {
  width: 100%;
  height: 400px;
  display: flex;

  background-size: cover;
  background-repeat: no-repeat;

  align-items: center;
  justify-content: center;
}

.banner h2 {
  background: rgba(0, 0, 0, 0.726);
  padding: 1rem;
  color: aliceblue;
}